@model IEnumerable<crm.Models.Organisation.OrganisationModel>

@{
    ViewBag.Title = "List";
}
<br />
@using (Html.BeginForm("Index", "Organisation", FormMethod.Get))
{
<div>
    Name @Html.TextBox("name")
    Type @Html.DropDownList("type", new List<SelectListItem>{new SelectListItem { Value = "", Text = "All", Selected=true }, new SelectListItem { Value = "0", Text = "Mikro firma" },
 new SelectListItem { Value = "1", Text = "Mała firma" },
     new SelectListItem { Value = "2", Text = "Średnia firma" },
     new SelectListItem { Value = "3", Text = "Duża firma" }})
    <input type="submit" value="Filter" />


</div>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Typ", "Index", new { sortValue = "type"})
        </th>
        <th>
            @Html.ActionLink("Nazwa", "Index", new { sortValue = "name" })
        </th>
        <th>
            @Html.ActionLink("Data utworzenia", "Index", new { sortValue = "creationDate" })
        </th>
        <th>
            @Html.ActionLink("Data ostatniej aktualizacji", "Index", new { sortValue = "updateDate" })
        </th>        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @functions{
                    public string ConvertTypeToString(int type)
                    {
                        if (type == 0)
                            return "Mikro firma";

                        else if (type == 1)
                            return "Mała firma";

                        else if (type == 2)
                            return "Średnia firma";

                        else
                            return "Duża firma";
                    }
                }
                @{
                    string typeString = ConvertTypeToString(item.type);
                }
                
                @Html.DisplayFor(modelItem => typeString)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updated_at)
            </td>
            
            <td>
                @Html.ActionLink("Update", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
